.row
  .col-sm-6
    h2.h4 #{game.name}
      if player
        button.btn.btn-secondary.btn-leave-game(disabled title='Not wired up yet') Leave game
      else
        button.btn.btn-primary.btn-join-game Join game
  .col-sm-6.text-right
    if isReady 'game'
      if game
        span Players:
        each players
          strong.player-name #{this.name} (#{this.score})
      else
        h2 404!  
    else
      p Loading...

#stage
  #world
  #ui