.row
  .col-xs-6
    h1= game.name
  .col-xs-6.text-right
    if player
      button.btn.btn-secondary.btn-leave-game Leave game
    else
      button.btn.btn-primary.btn-join-game Join game

#stage
  #world
  #ui

if isReady 'game'
  if game
    h4 Players:
    ul
      each players
        li
          span= this.name
  else
    h2 404!  
else
  p Loading...