h1= game.name

#stage
  #ui

if isReady 'game'
  if game
    #game(data-gameId= game._id)
      if hasJoined
        ul
          each currentTurn
            li
              span #{name} #{action}
      else
        button.btn-join Join Game
    h4 Players:
    ul
      each game.players
        li
          span= name
  else
    h2 404!  
else
  p Loading...